:root { 
/*define the two custom properties to 16 by default 
across the html document*/
    --temp-column: 1;
    --temp-row: 1;
    --border-size: 0.125rem;
    --duration: 250ms;
    --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
    --font-family: monospace;
    --color-primary: white;
    --color-secondary: black;
    --shadow: rgba(0, 0, 0, 0.1);
    --space: 1rem;
}

body {
    background-color:var(--color-primary);
}

#mainContainer {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: var(--font-family);
    font-size: 2.5rem;
    margin: 5px;
}

#gridContainer {
    display: grid;
    background-color: var(--color-primary);
    padding: 0;
    margin: 0;
    border: 1px solid;
    height: 40vw;
    width: 40vw;
    cursor: crosshair;
    border: var(--border-size) solid black;
    box-shadow: var(--shadow) 4px 4px;
    /*the two custom properties link to the function makeAGrid*/
    grid-template-columns: repeat(var(--temp-column), auto);
    grid-template-rows: repeat(var(--temp-row), auto);
}

.gridItem {
    padding: 0;
    margin: 0;
}

.outputP {
    font-family: var(--font-family);
    font-size: 1.5rem;
    margin: 5px;
}

.slider {
    -webkit-appearance: none;
    width: 40vw;
    height: 25px;
    background: var(--color-secondary);
    outline: none;
    opacity: 0.4;
    cursor: pointer;
}

.slider:hover {
    opacity: 1;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: var(--color-primary);
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: var(--color-primary);
    cursor: pointer;
}

.multiButton {
    display: flex;
    justify-content: center;
    width: 40vw;
    margin: 5px;
    box-shadow: var(--shadow) 4px 4px;
  }

.multiButton button {
    flex-grow: 1;
    cursor: pointer;
    position: relative;
    padding:
      calc(var(--space) / 1.125)
      var(--space)
      var(--space);
    border: var(--border-size) solid black;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    font-size: 1.5rem;
    font-family: var(--font-family);
    text-transform: lowercase;
    text-shadow: var(--shadow) 2px 2px;
    transition: flex-grow var(--duration) var(--ease);
  }

.multiButton button + button {
    border-left: var(--border-size) solid black;
    margin-left: calc(var(--border-size) * -1);
  }

.multiButton button:hover {
    flex-grow: 2;
    color: white;
    outline: none;
    text-shadow: none;
    background-color: var(--color-secondary);
}

.multiButton button:focus {
    outline: none;
}


@media (min-width: 1400px) {
    #gridContainer {
        height: 35vw;
        width: 35vw; 
    }

    .slider {
        width: 35vw; 
    }
}

@media (max-width: 850px) {
    #gridContainer {
        height: 70vw;
        width: 70vw; 
    }

    .slider {
        width: 70vw; 
    }
}